<main class="my-5">
	<div class="container-fluid text-center text-sm-left">

		<div class="row mb-3">
			<div class="col">
				<h1>Sign in test</h1>
			</div>
		</div>

		<div class="row alert alert-light">
			<div class="col-md-8">
				<form [formGroup]="foodTruckForm" (ngSubmit)="createFoodTruck()" novalidate>
					<p>Food Truck Name</p>	<input type="text" name="foodTruckName" id="foodTruckName" formControlName="foodTruckName" class="form-control"/>
					<p>Food Truck Description</p>	<input type="text" name="foodTruckDescription" id="foodTruckDescription" formControlName="foodTruckDescription" class="form-control">
					<p>Food Truck Phone Number</p>	<input type="text" name="foodTruckPhoneNumber" id="foodTruckPhoneNumber" formControlName="foodTruckPhoneNumber" class="form-control">
					<p>Food Truck Image Url</p>	<input type="text" name="foodTruckImageUrl" id="foodTruckImageUrl" formControlName="foodTruckImageUrl" class="form-control">
					<p>Food Truck Menu Url</p>	<input type="text" name="foodTruckMenuUrl" id="foodTruckMenuUrl" formControlName="foodTruckMenuUrl" class="form-control">
					<button type="submit" class="btn btn-info btn-lg"> Submit</button>
				</form>
			</div>
		</div>
	</div>
</main>