
	<head>
		<title>505 Food Truck Finder</title>
	</head>
	<body>
		<div class="container-fluid">

			<div class="card-columns">
				<div class="card bg-warning mb-3" *ngFor="let foodtruck of foodtrucks">
					<span class="card-title font-weight-bold text-center"><h4>{{foodtruck.foodTruckName}}</h4></span>
					<img class="card-img-top" src="{{foodtruck.foodTruckImageUrl}}" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">{{foodtruck.foodTruckPhoneNumber}}</p>
						<a href="{foodtruck.foodTruckMenuUrl}}">Menu</a>
						<p class="card-text">{{foodtruck.foodTruckDescription}}</p>
					</div>
				</div>
			</div>
		</div><!--/.container-fluid-->
	</body>