<head>
	<title>505 Food Truck Finder</title>
</head>

<div class="col-6 offset-3">
<div class="container-fluid">
<div class="row">
	<div class="jumbotron bg-warning mb-2">
		<div class="card bg-warning" id="foodtruck">
			<div class="card-body">
			<div class="card-title text-center font-weight-bold display-5"><h4><span>{{foodtruck[0].foodTruckName}}</span></h4></div>
				<img class="img img-responsive" src="{{foodtruck[0].foodTruckImageUrl}}">
				<p class="card-text display-4 text-right mt-3 ml-4">{{foodtruck[0].foodTruckPhoneNumber}}</p>
				<p class="card-text text-primary display-4 text-right ml-4"><a>{{foodtruck[0].foodTruckMenuUrl}}</a></p>
				<p class="card-text display-4 text-left ml-4 mx-3">{{foodtruck[0].foodTruckDescription}}</p>
			</div>
			</div>
		</div>
</div>
	</div>
</div>


