

	<div class="container-fluid pt-5">

		<div class="card-columns">
			<div class="card bg-warning mb-2" *ngFor="let foodtruck of foodtrucks">
				<h1 class="card-title font-weight-bold text-center"><span>{{foodtruck.foodTruckName}}</span></h1>
				<img class="card-img-top img-responsive p-1" width="200" src="{{foodtruck.foodTruckImageUrl}}"
					  alt="foodtruck image caption">
				<div class="card-body">
					<p class="card-text text-left ml-4"><span class="lead text-danger display-4"><i class="fas fa-heart"></i></span></p>
					<p class="card-text text-right ml-4"><span class="lead">Phone: {{foodtruck.foodTruckPhoneNumber}}</span></p>
					<p class="card-text text-right ml-4"><a class="lead text-primary border border-primary" href="{{foodtruck.foodTruckMenuUrl}}">Menu</a></p>
					<p class="card-text lead text-left ml-4"> Description: {{foodtruck.foodTruckDescription}}</p>
				</div>
			</div>
		</div>
	</div><!--/.container-fluid-->
