@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

/* styling for the sign-up page */

@import url("https://fonts.googleapis.com/css?family=Lato|Bungee|Fira+Sans|Varela+Round");

.header, span {
	font-family: 'Bungee', sans-serif;

}

.header h2 {
	color: black;

}

html .border-bottom {
	border-bottom-color: rgba(46,51,56,1) !important;
}

/* adding this because Bootstrap was overriding it */
h1 {
	font-family: 'Bungee', monospace;
}

p {
	font-family: 'Varela Round', sans-serif;
}

a {
	font-family: 'Varela Round', sans-serif;
}
a:hover {
	font-size: 1.5em;
}

input:nth-of-type(n) {
	/* font-family: 'Bungee', cursive; */
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 600;
}

div:nth-of-type(6n) {
	font-family: 'Bungee', sans-serif;
}

/* end styling for the sign-up page */

/* styling for map */
ngui-map {
	height: 86vh !important;
	background-color: #fefefe;

}

.map {
	padding-top: 10.5vh;
}


footer {
	height: 10vh;
	background-color: rgb(46,51,56);
	display: flex;
	align-items: center;
	font-family: 'Bungee', monospace;

}

