@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

/* styling for the sign-up page */

@import url("https://fonts.googleapis.com/css?family=Lato|Bungee|Fira+Sans");

.header, span {
	font-family: 'Bungee', cursive;
	color: black;
}

/* adding this because Bootstrap was overriding it */
h1 {
	font-family: 'Bungee', cursive !important;
}

p {
	font-family: 'Fira Sans', sans-serif;
}

span {
	font-family: 'Bungee', cursive;
}

a:hover {
	font-size: 1.5em;
}

input:nth-of-type(n) {
	/* font-family: 'Bungee', cursive; */
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 600;
}

div:nth-of-type(6n) {
	font-family: 'Bungee', cursive;
}

/* end styling for the sign-up page */

/* styling for map */
ngui-map {
	height: 75vh !important;
	background-color: white;

}
