@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

/* styling for the sign-up page */

@import url("https://fonts.googleapis.com/css?family=Lato|Bungee|Fira+Sans|Varela+Round");

.header, span {
	font-family: 'Bungee', sans-serif;
	color: black;
}

/* adding this because Bootstrap was overriding it */
h1 {
	font-family: 'Bungee', monospace;
}

p {
	font-family: 'Varela Round', sans-serif;
}

a {
	font-family: 'Varela Round', sans-serif;
}
a:hover {
	font-size: 1.5em;
}

input:nth-of-type(n) {
	/* font-family: 'Bungee', cursive; */
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 600;
}

div:nth-of-type(6n) {
	font-family: 'Bungee', sans-serif;
}

/* end styling for the sign-up page */

/* styling for map */
ngui-map {
	height: 75vh !important;
	background-color: black;

}
