
<title>Sign up - 505 Food Truck Finder</title>
	<div class="col-6 offset-3 text-center">
		<h1 class="header mt-4">Sign Up for <span class="text-warning">505</span> <span class="text-danger"> FoodTruck Finder!</span></h1>
		<hr>
				<form class="form-control-lg px-3" [formGroup]="signUpForm" (ngSubmit)="createSignUp()" novalidate>
					<!--Name Input -->
					<p class="text-left py-2">Name: <span class="text-danger">*</span></p>
					<input type="text" name="profileName" id="profileName" formControlName="profileName" class="form-control" placeholder="Name"/>
					<!--Email Input -->
					<p class="text-left py-2">Email: <span class="text-danger">*</span></p>
					<input type="text-left py-2" name="profileEmail" id="profileEmail" formControlName="profileEmail" class="form-control" placeholder="Email"/>
					<!--Pass Input -->
					<p class="text-left py-2">Password: <span class="text-danger">*</span></p>
					<input type="text-left py-2" name="profilePassword" id="profilePassword" formControlName="profilePassword" class="form-control" placeholder="Password"/>
					<p class="text-left py-2">Password Confirm: <span class="text-danger">*</span></p>
					<input type="text-left py-2" name="profilePasswordConfirm" id="profilePasswordConfirm" formControlName="profilePasswordConfirm" class="form-control" placeholder=" Re-enter Password"/>
					<!-- End of Form Input Beginning of Buttons! -->
					<br>
					<div class="list-group">
						<a class="btn-warning rounded font-weight-bold text-danger p-2 " data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"> Foodtruck Owner? Click Here to Learn How to Register!</a>
						<div class="row">
							<div class="col">
								<div class="collapse multi-collapse" id="multiCollapseExample1">
									<div class="mt-4 card card-body text-left font-weight-bold bg-warning">
										<input class="form-control" id="." type="text" name="password" placeholder="Owner Name"/><input class="form-control" id="" type="text" name="password" placeholder="FoodTruck Name"/><input class="form-control" id="busines#" type="text" name="password" placeholder="Phone #"/><input class="form-control" id="business#" type="text" name="business#" placeholder="Email"/>
										<span><span class="text-danger">Thank you</span> for your interest in registering as a Foodtruck vendor! We value your <span class="text-danger">business</span> and want to connect you with more <span class="text-danger">hungry customers!</span> Please fill out the form below and email a photo of your business license to <span class="text-danger">505FoodTruckFinder@gmail.com</span>! We will be in touch within 3-5 business days!</span>
									</div>
								</div>
							</div>
						</div>
					<input class="btn-warning rounded font-weight-bold mt-4" type="submit" value="Sign Up!">
					</div>
				</form>
	</div>

