<title>Sign up - 505 Food Truck Finder</title>

<!--HEADER-->
<div class="container">
<div class="col-sm-6-offset-3 text-center">
	<h1 class="header mt-4">Sign Up for <span class="text-danger">505</span> <span class="text-warning"> FoodTruck</span> Finder!
	</h1>
	<hr>


	<!--FORM BEGINS -->
	<form class="form-control-lg px-3" [formGroup]="signUpForm" (ngSubmit)="createSignUp()" novalidate>

		<!--Name Input -->

		<div class="form-group"
			  [ngClass]="{ 'has-error' : signUpForm.get('profileName').errors && (signUpForm.get('profileName').touched || signUpForm.get('profileName').dirty)}">

			<p class="text-left py-2">Name: <span class="text-danger">*</span></p>
			<input
				type="text"
				name="profileName"
				id="profileName"
				formControlName="profileName"
				class="form-control"
				placeholder="Name"
			/>

			<!--FOR VALIDATION ERROR MSGS for Profile Name -->
			<span class="help-block"
					*ngIf="signUpForm.get('profileName').errors && (signUpForm.get('profileName').touched || signUpForm.get('profileName').dirty)">
			<span
				class="text-danger"
				*ngIf="signUpForm.get('profileName').errors.required">

				A Name is required

			</span>


			<span
				class="text-danger"
				*ngIf="signUpForm.get('profileName').errors.minlength || signUpForm.get('profileName').errors.maxlength ">

				Name must be greater than 2 characters and less than 24 characters

			</span>
</span>
		</div>

		<!--Email Input -->

		<div class="form-group"
			  [ngClass]="{ 'has-error' : signUpForm.get('profileEmail').errors && (signUpForm.get('profileEmail').touched || signUpForm.get('profileEmail').dirty)}">

			<p class="text-left py-2">Email: <span class="text-danger">*</span></p>
			<input
				type="text"
				name="profileEmail"
				id="profileEmail"
				formControlName="profileEmail"
				class="form-control text-left py-2"
				placeholder="Email"
			/>

			<!--FOR VALIDATION ERROR MSGS for Email -->
			<span class="help-block"
					*ngIf="signUpForm.get('profileEmail').errors && (signUpForm.get('profileEmail').touched || signUpForm.get('profileEmail').dirty)">

				<span
					class="text-danger"
					*ngIf="signUpForm.get('profileEmail').errors.required">

				An Email is required

			</span>

			<span
				class="text-danger"
				*ngIf="signUpForm.get('profileEmail').errors.email">

				Please enter a valid Email

			</span>
			</span>

		</div>


		<!--Pass Input -->
		<div class="form-group"
			  [ngClass]="{ 'has-error' : signUpForm.get('profilePassword').errors && (signUpForm.get('profilePassword').touched || signUpForm.get('profilePassword').dirty)}">

			<p class="text-left py-2">Password: <span class="text-danger">*</span></p>
			<input
				type="password"
				name="profilePassword"
				id="profilePassword"
				formControlName="profilePassword"
				class="form-control"
				placeholder="Password"
			/>

			<span class="help-block"
					*ngIf="signUpForm.get('profilePassword').errors && (signUpForm.get('profilePassword').touched || signUpForm.get('profilePassword').dirty)">
		<span
			class="text-danger"
			*ngIf="signUpForm.get('profilePassword').errors.required">

				A valid password is required

			</span>

				<span
			class="text-danger"
			*ngIf="signUpForm.get('profilePassword').errors.minlength">

				Incorrect Password Length

			</span>
			</span>
		</div>

		<!--Pass Confirm -->

		<div class="form-group"
			  [ngClass]="{ 'has-error' : signUpForm.get('profilePasswordConfirm').errors && (signUpForm.get('profilePasswordConfirm').touched || signUpForm.get('profilePasswordConfirm').dirty)}">

			<p class="text-left py-2">Password Confirm: <span class="text-danger">*</span></p>
			<input
				type="password"
				name="profilePasswordConfirm"
				id="profilePasswordConfirm"
				formControlName="profilePasswordConfirm"
				class="form-control text-left py-2"
				placeholder=" Re-enter Password"
			/>

			<span class="help-block"
					*ngIf="signUpForm.get('profilePasswordConfirm').errors && (signUpForm.get('profilePasswordConfirm').touched || signUpForm.get('profilePasswordConfirm').dirty)">

				<span
					class="text-danger"
					*ngIf="signUpForm.get('profilePasswordConfirm').errors.required">

				Please Re-Enter Valid Password

			</span>

				<span
			class="text-danger"
			*ngIf="signUpForm.get('profilePasswordConfirm').errors.minlength || signUpForm.get('profilePasswordConfirm').errors.maxlength ">

				Invalid Password Length

			</span>

			</span>
		</div>

		<!-- End of Form Input Beginning of Buttons! -->

		<br>
		<div class="list-group">

			<button class="btn-warning mb-4 mt-2 rounded font-weight-bold" type="submit" value="Sign-up"><span>Sign-up</span></button>


			<a class="btn-warning rounded font-weight-bold text-danger p-2 " data-toggle="collapse"
				(click)="isCollapsed = !isCollapsed" role="button" aria-expanded="false"><span class="text-danger">Are you a food truck owner? Click here to register!</span></a>


			<div class="row">
				<div class="col">
					<div class="collapse multi-collapse" [ngbCollapse]="isCollapsed">
						<div class="mt-4 card card-body text-left font-weight-bold bg-warning"><span><span class="text-danger">Thank you</span> for your interest in registering as a Foodtruck vendor! We value your <span class="text-danger">business</span> and want to connect you with more <span class="text-danger">hungry customers!</span> Please fill out the sign up form above and email your name and a photo of your business license to <span class="text-danger">505FoodTruckFinder@gmail.com</span>! We will be in touch within 3-5 business days!</span>
						</div>

						<!--<div class="mt-4 card card-body text-left font-weight-bold bg-warning">-->
							<!--<span><span class="text-danger">Thank you</span> for your interest in registering as a food truck vendor! We value your <span-->
								<!--class="text-danger">business</span> and want to connect you with more <span class="text-danger">hungry customers!</span> Please fill out the form below and email a photo of your business license to <span-->
								<!--class="text-danger">505FoodTruckFinder@gmail.com</span>! We will be in touch within 3-5 business days!</span>-->
							<!--<input class="form-control m-2" id="foodTruckProfileName" type="text" name="password" placeholder="Owner Name"/>-->
							<!--<input class="form-control m-2" id="foodTruckName" type="text" name="password" placeholder="FoodTruck Name"/>-->
							<!--<input class="form-control m-2" id="email" type="text" name="password" placeholder="Email"/>-->
							<!--<input class="form-control m-2" id="bizLicense" type="text" name="business#" placeholder="Business License #"/>-->
							<!--<button class="mt-2"><span> Sign-up </span></button>-->
						<!--</div>-->
					</div>
				</div>
			</div>
		</div>
		<!-- End of Form -->
	</form>
</div>

</div>

