<main class="my-5">
	<div class="container-fluid text-center text-sm-left">

		<div class="row mb-3">
			<div class="col">
				<h1>Sign up test</h1>
			</div>
		</div>

		<div class="row alert alert-light">
			<div class="col-md-8">
				<form [formGroup]="signUpForm" (ngSubmit)="createSignUp()" novalidate>
					<input type="text" name="profileName" id="profileName" formControlName="profileName" class="form-control"/>
					<input type="text" name="profileEmail" id="profileEmail" formControlName="profileEmail" class="form-control"/>
					<input type="text" name="profilePassword" id="profilePassword" formControlName="profilePassword" class="form-control">
					<input type="text" name="profilePassword" id="profilePasswordConfirm" formControlName="profilePasswordConfirm" class="form-control">
					<button type="submit" class="btn btn-info btn-lg"> Post</button>
					<button type="reset" class="btn btn-warning btn-lg">Cancel</button>
				</form>
			</div>
		</div>
