<phpunit>
	<testsuites>
		<testsuite name="Food Truck Finder">
			<file>ProfileTest.php</file>
			<file>FoodTruckTest.php</file>
			<file>FavoriteTest.php</file>
			<file>SocialTest.php</file>
			<file>LocationTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>