<!--google font imports-->
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	display: flex;
	font-family: 'Roboto', 'Helvetica', sans-serif;
}
input[type=text] input[type=email] {
	border-radius: 0;
	-webkit-appearance: none;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
}

/* styling for the about us page team photo and page */
.teamphoto {
	max-width: 60vw;
	height: auto;
}

.aboutus {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* styling for the sign-up page */

.header, span {
	font-family: 'Bungee', cursive;
	color: black;
}
p {
	font-family: 'Fira Sans', sans-serif;

}

span:nth-of-type(1n)
{
	font-family: 'Bungee', cursive;
}


a {
	font-family: 'Bungee', cursive;
	font-size: 10pt;
	padding-right: 5px;
	padding-left: 5px;
	box-shadow: 5px 5px 5px black;

}
input:nth-of-type(n) {
	font-family: 'Bungee', cursive;
}

div:nth-of-type(6n) {
	font-family: 'Bungee', cursive;
}

/* end styling for the sign-up page */
