<!--google font imports-->
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	display: flex;
	font-family: 'Roboto', 'Helvetica', sans-serif;
}
input[type=text] input[type=email] {
	border-radius: 0;
	-webkit-appearance: none;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
}

/* styling for the about us page team photo and page */
.teamphoto {
	max-width: 60vw;
	height: auto;
}

.aboutus {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}