
		<h1>
			<span class="text-danger pl-2">505 </span><span class="text-warning">FoodTruck</span> Finder
		</h1>

	<ngui-map
		zoom="13"
		center="35.0844, -106.6504"
		(mapReady$)="onMapReady($event)"
		(mapClick)="onMapClick($event)"
		(idle)="onIdle($event)"
		mapTypeId="roadmap">
		<marker *ngFor="let foodTruckLocation of foodTruckLocations" [position]="[foodTruckLocation.location.locationLatitude, foodTruckLocation.location.locationLongitude]" (click)="clicked($event)"></marker>
		<info-window id="foodtruck-deetz">
			<!-- <div class="map-text p-3 ml-3 text-center"><img class="card-img-top p-1 art-image" src="{{ foodTruck.foodTruckImageUrl}}" alt="Food Truck Image caption"> -->
				<br>
				<br>
			<!--	<strong>Title:</strong> {{foodTruck.foodTruckName}} -->
				<br>
				<br>
		</info-window>
	</ngui-map>
