<main class="my-5">
	<div class="container-fluid text-center text-sm-left">

		<div class="row mb-3">
			<div class="col">
				<h1>Sign in test</h1>
			</div>
		</div>

		<div class="row alert alert-light">
			<div class="col-md-8">
				<form [formGroup]="signInForm" (ngSubmit)="SignIn()" novalidate>
					<p>Profile Email</p>	<input type="text" name="profileEmail" id="profileEmail" formControlName="profileEmail" class="form-control"/>
					<p>Password</p>	<input type="text" name="profilePassword" id="profilePassword" formControlName="profilePassword" class="form-control">
					<button type="submit" class="btn btn-info btn-lg"> Post</button>
				</form>
			</div>
		</div>
	</div>
</main>